* {
  margin: 0%;
  padding: 0%;
  font-size: 1rem;
  box-sizing: border-box;
  text-rendering: optimizeSpeed;
  image-rendering: optimizeQuality;
}

:root {
  --fullWidth: 100%;
  --innerWidth: 93%;
  --primaryColor: #ff712b;
  --secondaryColor: #0072ef;
  --cardColor: #fcfafd;
  --bgColor: #f6f4f7;
  --uniqueColor: #e74c3c;
}
