* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  text-rendering: optimizeSpeed;
  image-rendering: optimizeQuality;
}

:root {
  --fullWidth: 100%;
  --innerWidth: 80%;
  --primaryColor: #4fe331;
  --secondaryColor: #010f20;
  --bgColor: #f5eefc;
}
